:global(.vtex-product-summary-2-x-container--shelf-max) {
  margin: 0 12px;
  padding: 20px;
  max-width: 420px !important;
  text-align: center !important;
}

:global(.vtex-product-summary-2-x-nameWrapper) {
  text-align: center !important;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
}

:global(.vtex-product-summary-2-x-productBrand--shelf-max){
  font-weight: 400;
  font-size: 16px;
  color: black;
}

:global(.vtex-product-summary-2-x-element--shelf-max) {
  background: #FFFFFF;
  border-radius: 8px;
}

:global(.vtex-product-summary-2-x-element) :global(.vtex-button) {
  padding-top: 20;
  border: 1px solid #000000;
  background: transparent;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-button__label) {
  color: #111;
  letter-spacing: 0.2px;
}
:global(.vtex-product-summary-2-x-element)
  :global(.vtex-button):hover
  :global(.vtex-button__label) {
  background: #000000;
  color: #FFFFFF;
}


:global(.vtex-product-summary-2-x-imageContainer--imagemdashelf),
:global(.vtex-product-summary-2-x-imageWrapper--imagemdashelf),
:global(.vtex-product-summary-2-x-image--imagemdashelf) {
  width: 424px !important;
  height: 424px !important;
  max-width: 424px !important;
  max-height: 424px !important;
  object-fit: contain !important;
  margin: 0 -7px !important;
  display: block !important;
}