:global(.vtex-product-summary-2-x-element) :global(.vtex-button) {
  padding-top: 20;
  border: 1px solid #000000;
  background: transparent;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-button__label) {
  color: #111;
  letter-spacing: 0.2px;
}
:global(.vtex-product-summary-2-x-element)
  :global(.vtex-button):hover
  :global(.vtex-button__label) {
  background: #000000;
  color: #FFFFFF;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer)
  :global(.vtex-button__label) {
  position: absolute;
  background: transparent !important;
  border: none;
  left: 220px;
}